@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#name {

    background: -webkit-linear-gradient(#54c6ff, #272bf5);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    font-family: "Poppins", sans-serif;

    margin-left: 5px;

    margin-right: 5px;

  }

  #oasis {

    background: -webkit-linear-gradient(#6af768, #248f22);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    font-family: "Poppins", sans-serif;

    margin-left: 5px;


  }

  #txtcolor1 {

    background: -webkit-linear-gradient(#54c6ff, #272bf5);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    font-family: "Poppins", sans-serif;

    
  }

  #txtcolor2 {
    background: -webkit-linear-gradient(#6af768, #248f22);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    font-family: "Poppins", sans-serif;

  }

  #txtcolor3 {

    background: -webkit-linear-gradient(#54c6ff, #272bf5);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    font-family: "Poppins", sans-serif;


  }


  #cont {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;

    align-items: center;
    
    
  }
  
  html, body {
    height: 100%;

    font-family: "Poppins", sans-serif;

    text-align: center;

    margin: 0;
  }


  #bar {
    justify-content: center;
    align-items: center;
    
  }


  .barimg, .barimg2 {
    margin: 10px;

    transition: .5s;
  
  }



  .barimg:hover {

    transform: scale(1.2);

    transition: .5s;
    
    cursor: pointer;
  }

  .barimg2:hover {

    transform: scale(1.2);
    
    transition: .5s;

    cursor: pointer;
  }



  .custom-shape-divider-bottom-1655847461 {
    /* position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1655847461 svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 204px;
}

.custom-shape-divider-bottom-1655847461 .shape-fill {
    fill: #4A4A4A;
}

#about {
    font-size: 20px;
}

#comp {
    float: right;

 padding: 0 0 20px 20px;

}
